{
    "browser": {
        "headless": false,
        "page_devtool_frontend_host": "https://webcast.wyseos.com",
        "page_devtool_ws_host": "ws://localhost",
        "proxy": {
            "server": "",
            "username": "",
            "password": ""
        }
    },
    "aliyun": {
        "access_key": "",
        "access_secret": "",
        "oss_region": "",
        "oss_bucket": "",
        "oss_endpoint": "",
        "url": ""
    }
}